In [1]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]

In [2]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
conserved_sites = [24, 56, 132]
print(apes[0])
first_site = conserved_sites[2]

Homo sapiens

In [4]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
chimp_index = apes.index("Pan troglodytes")
# chimp_index is now 1

In [5]:
last_ape = apes[-1]

In [6]:
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
# lower ranks are class, order and family

In [7]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print(apes)
apes.append("Pan paniscus")
print(apes)

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla']
['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Pan paniscus']

In [8]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(apes)) + " apes")
apes.append("Pan paniscus")
print("Now there are " + str(len(apes)) + " apes")

There are 3 apes
Now there are 4 apes

In [9]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

3 apes
2 monkeys
5 primates

In [10]:
ranks = ["kingdom","phylum", "class", "order", "family"]
print("at the start : " + str(ranks))
ranks.reverse()
print("after reversing : " + str(ranks))
ranks.sort()
print("after sorting : " + str(ranks))

at the start : ['kingdom', 'phylum', 'class', 'order', 'family']
after reversing : ['family', 'order', 'class', 'phylum', 'kingdom']
after sorting : ['class', 'family', 'kingdom', 'order', 'phylum']

In [18]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
    first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

Homo sapiens is an ape. Its name starts with H
Its name has 12 letters
Pan troglodytes is an ape. Its name starts with P
Its name has 15 letters
Gorilla gorilla is an ape. Its name starts with G
Its name has 15 letters

In [20]:
apes = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
for ape in apes:
    name_length = len(ape)
first_letter = ape[0]
    print(ape + " is an ape. Its name starts with " + first_letter)
    print("Its name has " + str(name_length) + " letters")

IndentationError: unexpected indent (<ipython-input-20-47e5aab7e626>, line 5)

In [21]:
name = "python"
for character in name:
    print("one character is " + character)

one character is p
one character is y
one character is t
one character is h
one character is o
one character is n

In [23]:
names = "melanogaster,simulans,yakuba,ananassae"
species = names.split(",")
print(str(species))

['melanogaster', 'simulans', 'yakuba', 'ananassae']

In [27]:
file = open("some_input.txt")
for line in file:
    # do something with the line

SyntaxError: unexpected EOF while parsing (<ipython-input-27-b2947e35d711>, line 3)

In [28]:
file = open("some_input.txt")
contents = file.read()
for line in contents:
    # warning: line contains just a single character!

SyntaxError: unexpected EOF while parsing (<ipython-input-28-6e6b17a2145f>, line 4)

In [29]:
file = open("some_input.txt")
# print the length of each line
for line in file:
    print("The length is " + str(len(line)))
# print the first character of each line
for line in file:
    print("The first character is " + line[0])

The length is 2

In [30]:
# print the length of each line
file = open("some_input.txt")
for line in file:
    print("The length is " + str(len(line)))
file.close()

# print the first character of each line
file = open("some_input.txt")
for line in file:
    print("The first character is " + line[0])
file.close()

The length is 2
The first character is A

In [31]:
# first store a list of lines in the file
file = open("some_input.txt")
all_lines = file.readlines()

# print the lengths
for line in all_lines:
    print("The length is " + str(len(line)))

    # print the first characters
for line in all_lines:
    print("The first character is " + line[0])

The length is 2
The first character is A